
@{
    ViewData["Title"] = "Admin RegisteredUsers";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>RegisteredUsers</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Ahsan</td>
            <td>ahsan@gmail.com</td>
            <td>Admin</td>
            <td><a href="#">Details</a><a href="#">Delete</a></td>
        </tr>
    </tbody>
</table>