
@{
    ViewData["Title"] = "AddSallerProperty";
    Layout = "~/Views/Shared/SallerLayout.cshtml";
}

<h1>AddSallerProperty</h1>

<div class="container">
    <div class="row m-auto">
        <div class="col-md-12 ">

            <div class="mb-3 row">
                <label for="staticName" class="col-sm-2 col-form-label">Property Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticName">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputDetails" class="col-sm-2 col-form-label">Property Details</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputDetails">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputDetails" class="col-sm-2 col-form-label">Property Location</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputDetails">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputDetails" class="col-sm-2 col-form-label">Property Country/City</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputDetails">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputDetails" class="col-sm-2 col-form-label">Property Price</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputDetails">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputDetails" class="col-sm-2 col-form-label">Property Bedrooms?</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputDetails">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputDetails" class="col-sm-2 col-form-label">Property Image</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
            </div>

        </div>
    </div>

</div>

