@model test.Models.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .auth-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 30px;
        background: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
    }

        .auth-container img {
            width: 350px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 15px;
        }

    .control-label {
        align-items: start;
        margin-right: 250px;
    }

    .btn-custom {
        background-color: #375a9e;
        color: white;
    }

        .btn-custom:hover {
            background-color: grey;
        }

    .footer {
        background-color: #375a9e;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 30px;
    }
</style>

<div class="container">
    <div class="auth-container">
        <img src="~/images/bg_1.jpg" alt="Sign In">
        
        <h3 class="text-center">Sign In</h3>

            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

    </div>
</div>


